.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    width: 140px;
    height: 80px;
    box-shadow: 2px 2px #00000010;
    justify-content: space-around;
}

.weather-cards {
    display: flex;
    width: 100%;
    justify-content: center;
}

p, h5{
    margin: 0px;
}